.story-highlight {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.story {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
}
.picture {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 30px;
  border: width -3px;
  border-style: solid;
  border-color: rgb(201, 70, 194);
  transition: object-fit 0.15s, width 0.15s, height 0.15s;
  cursor: pointer;
}
.picture:hover {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.picture:active {
  opacity: 0.4;
}